Repository sdake/test-infra, changes with the owners that CODEOWNERS names for each.
All owners: @clarketm, @fejta, @Katharine, @michelle192837, @istio/wg-test-and-release-maintainers, @cjwagner

CODEOWNERS:

*                                    @clarketm @fejta @Katharine @michelle192837
Makefile*                            @istio/wg-test-and-release-maintainers
/common/                             @istio/wg-test-and-release-maintainers
/docker/                             @istio/wg-test-and-release-maintainers
/prow/                               @clarketm @cjwagner @fejta @Katharine @michelle192837
/prow/config/                        @istio/wg-test-and-release-maintainers
/prow/config/jobs/test-infra.yaml    @clarketm @cjwagner @fejta @Katharine @michelle192837
/prow/cluster/                       @clarketm @cjwagner @fejta @Katharine @michelle192837
/prow/cluster/jobs/                  @istio/wg-test-and-release-maintainers
/prow/cluster/jobs/istio/test-infra/ @clarketm @cjwagner @fejta @Katharine @michelle192837

update decoration timeout overwrite (#1962)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Add release trigger (#1944)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/release-builder.yaml
Owners: @istio/wg-test-and-release-maintainers

Add a job for istio.io tests (#1932)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191018-2ae771e3e to v20191021-d0a687bb7 (#1975)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Kill the master release pipeline (#1955)
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
Owners: @istio/wg-test-and-release-maintainers

Use prowbazel:0.5.11 in istio/proxy master and release-1.4. (#1956)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191008-bbd30bc09 to v20191010-78fe9feb7 (#1920)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Update to latest build container (#1916)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tests.yaml
  prow/config/jobs/tools.yaml
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Bump build tools (#1967)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/generate.go
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Generated jobs for release-1.4 branch (#1940)
  prow/cluster/jobs/istio/api/istio.api.release-1.4.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.release-1.4.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.release-1.4.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.release-1.4.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.release-1.4.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.release-1.4.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.release-1.4.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.4.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.4.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.release-1.4.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.release-1.4.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.release-1.4.gen.yaml
  prow/config/generate.go
  prow/config/jobs/api-1.4.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/client-go-1.4.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.4.yaml
  prow/config/jobs/common-files-1.4.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/gogo-genproto-1.4.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer-1.4.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio-1.4.yaml
  prow/config/jobs/istio.io-1.4.yaml
  prow/config/jobs/operator-1.4.yaml
  prow/config/jobs/pkg-1.4.yaml
  prow/config/jobs/release-builder-1.4.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/tools-1.4.yaml
  prow/config/jobs/tools.yaml
Owners: @istio/wg-test-and-release-maintainers

Install clang and libc++ from the official releases. (#1958)
  docker/istio/shared/tools/install-clang.sh
  docker/istio/shared/tools/install-libcxx.sh
  docker/prowbazel/Makefile
  docker/prowbazel/README.md
  scripts/tools/linux-install-clang
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @fejta, @Katharine, @michelle192837

Use docker-capable entrypoint (#1919)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Owners: @istio/wg-test-and-release-maintainers

Add proxy and tools 1.4 config (#1942)
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
  prow/cluster/jobs/istio/tools/istio.tools.yaml
Owners: @istio/wg-test-and-release-maintainers

Remove manifest-apply from operator (#1982)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.release-1.4.gen.yaml
  prow/config/jobs/operator-1.4.yaml
  prow/config/jobs/operator.yaml
Owners: @istio/wg-test-and-release-maintainers

Add benchmark test to periodic job (#1909)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191022-7c8165546 to v20191023-5d6c24c6f (#1981)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

fix flaky metrics test (#1968)
  toolbox/metrics/metrics_test.go
Owners: @clarketm, @fejta, @Katharine, @michelle192837

Make release-builder required and sufficient resources (#1925)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/release-builder.yaml
Owners: @istio/wg-test-and-release-maintainers

Revert two periodic jobs back to the istio-builder container for now. (#1930)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Add run_if_changed support to job gen (#1941)
  prow/config/generate.go
  prow/config/testdata/simple.gen.yaml
  prow/config/testdata/simple.yaml
Owners: @istio/wg-test-and-release-maintainers

Retire Linux jobs for istio/proxy on CircleCI. (#1961)
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Switch a bunch of periodic jobs to the build-tools container. (#1929)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Add benchmark jobs for release 1.3, 1.4 (#1947)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

All istio jobs are on kind now (#1998)
  licenses/k8s.io/kubernetes/License
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Owners: @clarketm, @fejta, @Katharine, @michelle192837, @istio/wg-test-and-release-maintainers

support client certificate in kubeconfig (#1885)
  boskos/gcp/gcloud.go
  boskos/gcp/gke.go
  go.mod
Owners: @clarketm, @fejta, @Katharine, @michelle192837

Make the gencheck job mandatory for the operator repo. (#1966)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Owners: @istio/wg-test-and-release-maintainers

Update a few things. (#1926)
  Makefile
  common/.commonfiles.sha
  common/config/license-lint.yml
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.collab-gce-identity.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Add release-1.4 branch protection (#1936)
  prow/config.yaml
  prow/config/config_test.go
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837, @istio/wg-test-and-release-maintainers

Revert "Use prowbazel:0.5.11 in istio/proxy master and release-1.4. (#1956)" (#1957)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Owners: @istio/wg-test-and-release-maintainers

Add optional gencheck jobs on all repos with Go code. (#1987)
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tests.yaml
  prow/config/jobs/tools.yaml
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Fix githubctl retest (#1983)
  toolbox/githubctl/main.go
Owners: @clarketm, @fejta, @Katharine, @michelle192837

Bump prow from v20190927-a9e239ad8 to v20191008-bbd30bc09 (#1917)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Bump prow from v20191014-5b6eb77e5 to v20191015-68dd384c9 (#1939)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Add docker support for release builder (#1971)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/release-builder.yaml
Owners: @istio/wg-test-and-release-maintainers

increase timeout for benchmark job (#1954)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Clean up boskos resources (#1953)
  boskos/cluster/metrics-deployment.yaml
  boskos/cluster/reaper-deployment.yaml
  boskos/resources.yaml
Owners: @clarketm, @fejta, @Katharine, @michelle192837

Make release docker credentials not read only (#1974)
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Update golang to 1.12.12 (#1960)
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.2.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.2.yaml
Owners: @istio/wg-test-and-release-maintainers

Use prowbazel:0.5.12 in istio/proxy master and release-1.4. (#1965)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Owners: @istio/wg-test-and-release-maintainers

Implement operator e2e (#1933)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/config/jobs/operator.yaml
Owners: @istio/wg-test-and-release-maintainers
