Repository sdake/test-infra, changes with the owners that CODEOWNERS names for each.
All owners: @clarketm, @fejta, @Katharine, @michelle192837, @istio/wg-test-and-release-maintainers, @cjwagner

CODEOWNERS:

*                                    @clarketm @fejta @Katharine @michelle192837
Makefile*                            @istio/wg-test-and-release-maintainers
/common/                             @istio/wg-test-and-release-maintainers
/docker/                             @istio/wg-test-and-release-maintainers
/prow/                               @clarketm @cjwagner @fejta @Katharine @michelle192837
/prow/config/                        @istio/wg-test-and-release-maintainers
/prow/config/jobs/test-infra.yaml    @clarketm @cjwagner @fejta @Katharine @michelle192837
/prow/cluster/                       @clarketm @cjwagner @fejta @Katharine @michelle192837
/prow/cluster/jobs/                  @istio/wg-test-and-release-maintainers
/prow/cluster/jobs/istio/test-infra/ @clarketm @cjwagner @fejta @Katharine @michelle192837

Mount docker root (#1977)
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Revert "`install` misnamed `test` (#1898)" (#1922)
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/config/jobs/cni.yaml
Owners: @istio/wg-test-and-release-maintainers

Add jobs for trigger warnings (#1943)
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/generate.go
  prow/config/jobs/release-builder.yaml
  prow/config/testdata/simple.gen.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191010-78fe9feb7 to v20191011-80f304f54 (#1927)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Fix istioio target (#1934)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Owners: @istio/wg-test-and-release-maintainers

Add "post-test-infra-push-prowbazel" to push prowbazel image (#1970)
  prow/Makefile.gcloud.mk
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Move istio/operator and istio/release-builder to latest container. (#1994)
  prow/cluster/jobs/istio/operator/istio.operator.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/release-builder.yaml
Owners: @istio/wg-test-and-release-maintainers

Fix lint (#1964)
  toolbox/githubctl/README.md
Owners: @clarketm, @fejta, @Katharine, @michelle192837

Add "crier" deployment (#1969)
  prow/cluster/crier_deployment.yaml
  prow/cluster/crier_rbac.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Add a postsubmit job for doc tests. (#1979)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Owners: @istio/wg-test-and-release-maintainers

Update clang, libc++, and Bazel in prowbazel images. (#1951)
  docker/istio/shared/tools/install-bazel.sh
  docker/istio/shared/tools/install-clang.sh
  docker/istio/shared/tools/install-libcxx.sh
  docker/prowbazel/Makefile
  docker/prowbazel/README.md
  scripts/tools/linux-install-bazel
  scripts/tools/linux-install-clang
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @fejta, @Katharine, @michelle192837

Bump prow from v20191015-68dd384c9 to v20191015-dfc1766ef (#1946)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Refine "genjobs" CLI and documentation (#1924)
  prow/cmd/genjobs/README.md
  prow/cmd/genjobs/genjobs.go
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Improve job specs (#1928)
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/cni/istio.cni.master.gen.yaml
  prow/cluster/jobs/istio/common-files/istio.common-files.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/cluster/jobs/istio/istio/istio.istio.release-1.3.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/cluster/jobs/istio/release-builder/istio.release-builder.master.gen.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/cluster/jobs/istio/tools/istio.tools.master.gen.yaml
  prow/config/README.md
  prow/config/cmd/generate.go
  prow/config/generate.go
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/cni-1.3.yaml
  prow/config/jobs/cni.yaml
  prow/config/jobs/common-files.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/installer.yaml
  prow/config/jobs/istio-1.3.yaml
  prow/config/jobs/istio.io-1.3.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/istio.yaml
  prow/config/jobs/operator-1.3.yaml
  prow/config/jobs/operator.yaml
  prow/config/jobs/pkg-1.3.yaml
  prow/config/jobs/pkg.yaml
  prow/config/jobs/release-builder.yaml
  prow/config/jobs/test-infra.yaml
  prow/config/jobs/tests.yaml
  prow/config/jobs/tools.yaml
  prow/config/testdata/simple.gen.yaml
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Bump prow from v20191021-d0a687bb7 to v20191022-7c8165546 (#1978)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Get more repos on the latest container. (#1992)
  prow/cluster/jobs/istio/client-go/istio.client-go.master.gen.yaml
  prow/cluster/jobs/istio/community/istio.community.master.gen.yaml
  prow/cluster/jobs/istio/gogo-genproto/istio.gogo-genproto.master.gen.yaml
  prow/cluster/jobs/istio/istio.io/istio.istio.io.master.gen.yaml
  prow/cluster/jobs/istio/tests/istio.tests.master.gen.yaml
  prow/config/jobs/client-go.yaml
  prow/config/jobs/community.yaml
  prow/config/jobs/gogo-genproto.yaml
  prow/config/jobs/istio.io.yaml
  prow/config/jobs/tests.yaml
Owners: @istio/wg-test-and-release-maintainers

Add GCP permissions for istio.io test (#1980)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191017-af5797562 to v20191018-2ae771e3e (#1963)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Migrate to default_decoration_configs (#1935)
  go.mod
  go.sum
  prow/config.yaml
  prow/config/config_test.go
Owners: @clarketm, @fejta, @Katharine, @michelle192837, @cjwagner, @istio/wg-test-and-release-maintainers

Bump prow from v20191023-5d6c24c6f to v20191024-64518f5f8 (#1989)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/crier_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Bump test CPU requests (#1915)
  prow/cluster/jobs/istio/istio/istio.istio.master.gen.yaml
  prow/config/jobs/istio.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191011-80f304f54 to v20191014-5b6eb77e5 (#1931)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Disable gencheck for 1.4 operator (#1945)
  prow/cluster/jobs/istio/operator/istio.operator.release-1.4.gen.yaml
  prow/config/jobs/operator-1.4.yaml
Owners: @istio/wg-test-and-release-maintainers

Update testgrid (#1952)
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.master.yaml
  prow/cluster/jobs/istio-releases/pipeline/istio-releases.pipeline.release-1.3.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  testgrid/default.yaml
  testgrid/istio.gen.yaml
Owners: @istio/wg-test-and-release-maintainers, @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Move istio/api, istio/pkg, and istio/bots to latest container. (#1990)
  prow/cluster/jobs/istio/api/istio.api.master.gen.yaml
  prow/cluster/jobs/istio/bots/istio.bots.master.gen.yaml
  prow/cluster/jobs/istio/pkg/istio.pkg.master.gen.yaml
  prow/config/jobs/api.yaml
  prow/config/jobs/bots.yaml
  prow/config/jobs/pkg.yaml
Owners: @istio/wg-test-and-release-maintainers

Bump prow from v20191015-dfc1766ef to v20191017-af5797562 (#1950)
  prow/cluster/cherrypicker_deployment.yaml
  prow/cluster/deck_deployment.yaml
  prow/cluster/ghproxy.yaml
  prow/cluster/hook_deployment.yaml
  prow/cluster/horologium_deployment.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.master.yaml
  prow/cluster/jobs/istio/test-infra/istio.test-infra.trusted.master.yaml
  prow/cluster/needs-rebase_deployment.yaml
  prow/cluster/plank_deployment.yaml
  prow/cluster/sinker_deployment.yaml
  prow/cluster/statusreconciler_deployment.yaml
  prow/cluster/tide_deployment.yaml
  prow/cluster/tot_deployment.yaml
  prow/config.yaml
Owners: @clarketm, @cjwagner, @fejta, @Katharine, @michelle192837

Update this repo's dependencies (#1999)
  go.mod
  go.sum
  licenses/cloud.google.com/go/bigquery/LICENSE
  licenses/cloud.google.com/go/pubsub/LICENSE
  licenses/cloud.google.com/go/storage/LICENSE
  licenses/contrib.go.opencensus.io/exporter/prometheus/LICENSE
  licenses/contrib.go.opencensus.io/exporter/stackdriver/LICENSE
  licenses/dmitri.shuralyov.com/gpu/mtl/LICENSE
  licenses/github.com/census-instrumentation/opencensus-proto/LICENSE
  licenses/github.com/cespare/xxhash/v2/LICENSE.txt
  licenses/github.com/go-gl/glfw/LICENSE
  licenses/github.com/google/addlicense/LICENSE
  licenses/github.com/google/renameio/LICENSE
  licenses/golang.org/x/mod/LICENSE
  licenses/golang.org/x/xerrors/LICENSE
  licenses/knative.dev/pkg/LICENSE
  prow/cmd/genjobs/genjobs.go
  prow/config/config_test.go
  prow/config/generate.go
Owners: @clarketm, @fejta, @Katharine, @michelle192837, @cjwagner, @istio/wg-test-and-release-maintainers

Update prowbazel to run as "root" user (#2001)
  docker/prowbazel/Dockerfile
  docker/prowbazel/Makefile
Owners: @istio/wg-test-and-release-maintainers

set proper start time for three perf related jobs (#2005)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Verify that the release scripts work in istio/proxy presubmits. (#1993)
  prow/cluster/jobs/istio/proxy/istio.proxy.master.yaml
  prow/cluster/jobs/istio/proxy/istio.proxy.release-1.4.yaml
Owners: @istio/wg-test-and-release-maintainers

Move the installer repo to the latest container. (#1996)
  prow/cluster/jobs/istio/installer/istio.installer.master.gen.yaml
  prow/config/jobs/installer.yaml
Owners: @istio/wg-test-and-release-maintainers

Update perf benchmark periodic job yaml (#2003)
  prow/cluster/jobs/all-periodics.yaml
Owners: @istio/wg-test-and-release-maintainers

Drop Boskos cluster amount to 20 (from 50) (#1997)
  boskos/resources.yaml
Owners: @clarketm, @fejta, @Katharine, @michelle192837
